<h1>{{teamsShow.team.name}}</h1>
<div class="teams">
<h2>Owner: {{teamsShow.team.team_owner.first_name}} {{teamsShow.team.team_owner.last_name}}</h2>

<p ng-hide="teamsShow.team.requests.length">No one has signed up to this team yet.</p>
<p ng-hide="teamsShow.team.spots_remaining">This team is now full</p>
<p ng-show="teamsShow.team.spots_remaining > 1">There are still {{teamsShow.team.spots_remaining}} spots remaining!</p>
<p ng-show="teamsShow.team.spots_remaining == 1">There is still {{teamsShow.team.spots_remaining}} spot remaining!</p>

<div ng-show="teamsShow.team.requests.length">
  <h4>Recently Joined Members:</h4>
  <ul>
    <li ng-repeat="request in teamsShow.team.requests">
      <p>{{request.first_name_of_requester}} {{request.last_name_of_requester}}</p>
    </li>
  </ul>
</div>

<div ng-if="main.user.id !== teamsShow.team.team_owner.id && !teamsShow.hasSubmitted && teamsShow.team.spots_remaining > 0">
  <button class="team"ng-click="teamsShow.submitRequest()">Sign up to this team!</button>
</div>

<div ng-if="main.user.id !== teamsShow.team.team_owner.id && teamsShow.hasSubmitted && teamsShow.team.spots_remaining > 0">
  <p>Thank you for signing up to the team, You are a valued player !</p>
</div>
</div>
