<form ng-submit="teamsNew.submitTeam()">
  <div class="row">
    <div class="groups">
      <label for="name">Name</label>
      <input ng-model="teamsNew.newTeam.name" type="text" name="name"/>
      <label for="vacantspot">Vacant spots</label>
      <input ng-model="teamsNew.newTeam.vacant_spots" type="number" name="Vacantspot"/>
      <input type="submit" class="button-primary"></button>
    </div>
    <iframe width="1170" height="560" src="https://www.youtube.com/embed/mCoVVOKkzDY?ecver=1&autoplay=1" frameborder="1000" allowfullscreen></iframe>
  </div>
</form>
