body {
  // background-color: #21507F;
}

.jumbotron {
  text-align: center;
  background-image: url("/images/pitch2.jpg");
  // background-image: url("http://img.cdn.schooljotter2.com/sampled/4954284/1200/NaN");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
  padding-bottom: 300px;
  opacity: 0.7;
}

.chicken{
    height: 18px;
    width: 20px;
    border-radius: 100px;
}

nav.navbar.navbar-default{
  a.navbar-brand {
    color: #51CB20;
  }
}
nav.navbar.navbar-default{
  a {
    color: #51CB20;
  }
}
.navbar-default {
  background-color: white;
  border-color: white;
}

img {
  height: 300px;
  width: 300px;
  border-radius: 167px;
}

h1 {
  text-align: center;
  color: #51CB20;
}

.media-body {
  float: left;
  margin-left: 95px;
  margin-top: 25px;
}

.container {
  margin-right: 10px;
}

.media {
  margin-top: 0;
}

.groups {
  margin-left: 294px;
}

.ng-scope {
  list-style: none
}

.form-control {
  width: 369px;
  margin-left: 450px;
  // margin-top: 57px;
  margin-top: 17px;

}

.player {
  margin-left: 398px;
  margin-top: 30px;
}

.btn {
  margin-left: 600px;
  background-color: #51CB20;
}

footer {

position: absolute;
 right: 0;
 bottom: 0;
 left: 0;
 padding: 1rem;
 background-color: #efefef;
 text-align: center;
}
  // display: table;
  //  text-align: center;
  //  margin-left: auto;
  //  margin-right: auto;
